.app {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.app-header {
  display: grid;
  grid-template-columns: auto;
  background-image: url('./images/hero-img.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 6rem;
}

.app-header h2 {
  font-family: 'Special Elite', cursive;
  font-size: 4rem;
  text-shadow: black 3px 3px 6px;
}

main {
  display: grid;
  justify-content: center;
  padding: 1rem;
}

.search-section form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem 1rem;
  margin: 1rem;
}

.search-section input {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.results-section {
  display: grid;
  grid-gap: 2rem;
  text-shadow: black -2px 2px 6px;
}

.result-overview {
  font-style: italic;
}

.result-score {
  color: orange;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
